{:kotoba.app/id "cloud.itonami.isic-5020", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiftoaevnh5m7x7iwq7ws6awf2ggzl3qihsaprc7pnhiyiepe75fey", :kotoba.app/embed-url "ipfs://bafkreiftoaevnh5m7x7iwq7ws6awf2ggzl3qihsaprc7pnhiyiepe75fey", :published {:archive "https://kotobase.net/ipfs/bafkreiftoaevnh5m7x7iwq7ws6awf2ggzl3qihsaprc7pnhiyiepe75fey", :size 72628, :put-status 201, :get-status 200, :at "2026-08-15T13:42:45.755Z"}}
